<h2>Contact Us</h2>
<p>
Francesco Gentile, Ph.D.<br>
Assistant Professor<br>
Department of Chemistry and Biomolecular Sciences <br>
Ottawa Institute of Systems Biology<br>
University of Ottawa<br>
<br>
email: fgentile (at) uottawa.ca <br>
<br>
STEM Complex STM-351<br>
150 Louis-Pasteur Pvt.<br>
Ottawa, ON K1N 9A7, Canada <br>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11201.26887632515!2d-75.6831329!3d45.4231064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce050a6db98d73%3A0x188a59c3622fdbae!2sUniversit%C3%A0%20di%20Ottawa!5e0!3m2!1sit!2sca!4v1689974959191!5m2!1sit!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
</p>
