<p>
<img class = "img-fluid" src = "/static/img/logo/campus.jpg" alt = "campus" width="100%" style="display: block, margin: auto,">
</p>
<hr class="solid">
<h3>Join us</h3>
<p>
Interested to join the Gentile Lab? Check our <a href="https://gentile-lab.github.io/join/">open positions</a>
</p>
<hr class="solid">
<h3>News from the lab</h3>
<p>
<li>2023-10-23: our preprint on the design of PROTACs using molecular modeling and deep learning is now available in Biorxiv. <a href="https://www.biorxiv.org/content/10.1101/2023.11.20.567951v1#:~:text=A%20new%20method%20named%20PROTACable,activity%20of%20newly%20designed%20PROTACs.">Check it out!</a></li><br>
<li>2023-11-09: Our lab was awarded an NSERC Alliance Catalysis grant to work on a collaborative project with <a href="https://structuralbioiitb.wixsite.com/ruchianand">Prof. Ruchi Anand</a> at IIT Bombay. Exciting research ahead!</li><br>
<li>2023-10-23: our paper has been published in Tetrahedron. <a href="https://www.sciencedirect.com/science/article/pii/S004040202300515X#da0010">Check it out!</a></li><br>
<li>2023-10-19: Tiana joined the lab as USRO student. Welcome Tiana!</li><br>
<li>2023-09-05: Kaitlyn joined the lab as honours student, while Mehdi and Jean-Paul as volunteers. Welcome Kaytlin, Mehdi and Jean-Paul!</li><br>
</p>
