<p>
<img class = "img-fluid" src = "/static/img/logo/campus.jpg" alt = "campus" width="100%" style="display: block, margin: auto,">
</p>
<hr class="solid">
<h3>Join us</h3>
<p>
Interested to join the Gentile Lab? Check our <a href="https://gentile-lab.github.io/join/">open positions</a>
</p>
<hr class="solid">
<h3>News from the lab</h3>
<p>
<li>2023-12-21: our preprint on the AI and physics-guided discovery of LRRK2 WDR ligands is now on ChemRxiv. <a href="https://chemrxiv.org/engage/chemrxiv/article-details/658485ab9138d23161354822">Check it out!</a></li><br>
<li>2023-12-11: Jean-Paul won the Tony Durst Award for Excellence in Research. Congratulations JP!</a></li><br>
<li>2023-11-23: our preprint on the design of PROTACs using molecular modeling and deep learning is now available in bioRxiv. <a href="https://www.biorxiv.org/content/10.1101/2023.11.20.567951v1">Check it out!</a></li><br>
<li>2023-11-09: Our lab was awarded an NSERC Alliance Catalysis grant to work on a collaborative project with <a href="https://structuralbioiitb.wixsite.com/ruchianand">Prof. Ruchi Anand</a> at IIT Bombay. Exciting research ahead!</li><br>
<li>2023-10-23: our paper has been published in Tetrahedron. <a href="https://www.sciencedirect.com/science/article/pii/S004040202300515X#da0010">Check it out!</a></li><br>
<p>
