---
title: Lab Members
layout: members
group: members
---

<h1>Gentile Lab Members</h1>

<h3>The PI</h3>
{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% unless member.position contains "Assistant Professor" %}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.researchgate %}
                  <a href="http://www.researchgate.net"><img class="inline-block mem-icon" src="/static/img/logo/rgate_logo.png"></a>
                  <a href= "https://www.researchgate.net/profile/{{member.researchgate}}"> {{member.researchgate}} </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {{member.description | markdownify}}
            </div>
        </div>
{% endfor %}
<hr>

<h3>Postdoctoral Fellows</h3>
{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% unless member.position contains "Postdoc" %}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.researchgate %}
                  <a href="http://www.researchgate.net"><img class="inline-block mem-icon" src="/static/img/logo/rgate_logo.png"></a>
                  <a href= "https://www.researchgate.net/profile/{{member.researchgate}}"> {{member.researchgate}} </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {{member.description | markdownify}}
            </div>
        </div>
{% endfor %}
<hr>

<h3>Graduate Students</h3>
{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% unless member.position contains "M.Sc." or member.position contains "Ph.D." %}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.researchgate %}
                  <a href="http://www.researchgate.net"><img class="inline-block mem-icon" src="/static/img/logo/rgate_logo.png"></a>
                  <a href= "https://www.researchgate.net/profile/{{member.researchgate}}"> {{member.researchgate}} </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {{member.description | markdownify}}
            </div>
        </div>
{% endfor %}
<hr>

<h3>Undergraduate Students</h3>
{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% unless member.position contains "Undergraduate" or member.position contains "Volunteer" or member.position contains "Honours" or member.position contains "USRO" or member.position contains "Co-op""%}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.researchgate %}
                  <a href="http://www.researchgate.net"><img class="inline-block mem-icon" src="/static/img/logo/rgate_logo.png"></a>
                  <a href= "https://www.researchgate.net/profile/{{member.researchgate}}"> {{member.researchgate}} </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {{member.description | markdownify}}
            </div>
        </div>
{% endfor %}
<hr>

<h3>Others</h3>
{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% unless member.position contains "Visiting" or member.position contains "Research" %}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.researchgate %}
                  <a href="http://www.researchgate.net"><img class="inline-block mem-icon" src="/static/img/logo/rgate_logo.png"></a>
                  <a href= "https://www.researchgate.net/profile/{{member.researchgate}}"> {{member.researchgate}} </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>     
            <div class="col-sm-8">
                {{member.description | markdownify}}
            </div>
        </div>
{% endfor %}
<hr>
