---
title: Lab Members
layout: members
group: members
---

Gentile Lab Members

The PI
{% for member in site.members %}
  {% unless member.enddate == empty %} {% continue %} {% endunless %}
  {% unless member.position contains "Assistant Professor" %} {% continue %} {% endunless %}
  ￼
  {{ member.name }}
  {% if member.pronouns %} {{ member.pronouns }} {% endif %}
  {{ member.position | markdownify | remove: '
' | remove: '
' }}
  {{ member.email }}
  {% if member.website %} {{ member.website }} {% endif %}
  {% if member.orcid %} ￼ {{ member.orcid }} {% endif %}
  {% if member.linkedin %} ￼ {{ member.linkedin }} {% endif %}
  {% if member.researchgate %} ￼ {{ member.researchgate }} {% endif %}
  {% if member.scholar %}
    ￼ {% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations
  {% endif %}
  {% if member.twitter %} ￼ @{{ member.twitter }} {% endif %}
  {% if member.github %} ￼ {{ member.github }} {% endif %}
  {{ member.description | markdownify }}
{% endfor %}

Postdoctoral Fellows
{% for member in site.members %}
  {% unless member.enddate == empty %} {% continue %} {% endunless %}
  {% unless member.position contains "Postdoc" %} {% continue %} {% endunless %}
  ￼
  {{ member.name }}
  {% if member.pronouns %} {{ member.pronouns }} {% endif %}
  {{ member.position | markdownify | remove: '
' | remove: '
' }}
  {{ member.email }}
  {% if member.website %} {{ member.website }} {% endif %}
  {% if member.orcid %} ￼ {{ member.orcid }} {% endif %}
  {% if member.linkedin %} ￼ {{ member.linkedin }} {% endif %}
  {% if member.researchgate %} ￼ {{ member.researchgate }} {% endif %}
  {% if member.scholar %}
    ￼ {% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations
  {% endif %}
  {% if member.twitter %} ￼ @{{ member.twitter }} {% endif %}
  {% if member.github %} ￼ {{ member.github }} {% endif %}
  {{ member.description | markdownify }}
{% endfor %}

Graduate Students
{% for member in site.members %}
  {% unless member.enddate == empty %} {% continue %} {% endunless %}
  {% unless member.position contains "M.Sc." or member.position contains "Ph.D." %} {% continue %} {% endunless %}
  ￼
  {{ member.name }}
  {% if member.pronouns %} {{ member.pronouns }} {% endif %}
  {{ member.position | markdownify | remove: '
' | remove: '
' }}
  {{ member.email }}
  {% if member.website %} {{ member.website }} {% endif %}
  {% if member.orcid %} ￼ {{ member.orcid }} {% endif %}
  {% if member.linkedin %} ￼ {{ member.linkedin }} {% endif %}
  {% if member.researchgate %} ￼ {{ member.researchgate }} {% endif %}
  {% if member.scholar %}
    ￼ {% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations
  {% endif %}
  {% if member.twitter %} ￼ @{{ member.twitter }} {% endif %}
  {% if member.github %} ￼ {{ member.github }} {% endif %}
  {{ member.description | markdownify }}
{% endfor %}

Undergraduate Students
{% for member in site.members %}
  {% unless member.enddate == empty %} {% continue %} {% endunless %}
  {% unless member.position contains "Undergraduate" or member.position contains "Volunteer" or member.position contains "Honours" or member.position contains "USRO" or member.position contains "Co-op" %} {% continue %} {% endunless %}
  ￼
  {{ member.name }}
  {% if member.pronouns %} {{ member.pronouns }} {% endif %}
  {{ member.position | markdownify | remove: '
' | remove: '
' }}
  {{ member.email }}
  {% if member.website %} {{ member.website }} {% endif %}
  {% if member.orcid %} ￼ {{ member.orcid }} {% endif %}
  {% if member.linkedin %} ￼ {{ member.linkedin }} {% endif %}
  {% if member.researchgate %} ￼ {{ member.researchgate }} {% endif %}
  {% if member.scholar %}
    ￼ {% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations
  {% endif %}
  {% if member.twitter %} ￼ @{{ member.twitter }} {% endif %}
  {% if member.github %} ￼ {{ member.github }} {% endif %}
  {{ member.description | markdownify }}
{% endfor %}

Others
{% for member in site.members %}
  {% unless member.enddate == empty %} {% continue %} {% endunless %}
  {% unless member.position contains "Visiting" or member.position contains "Research" %} {% continue %} {% endunless %}
  ￼
  {{ member.name }}
  {% if member.pronouns %} {{ member.pronouns }} {% endif %}
  {{ member.position | markdownify | remove: '
' | remove: '
' }}
  {{ member.email }}
  {% if member.website %} {{ member.website }} {% endif %}
  {% if member.orcid %} ￼ {{ member.orcid }} {% endif %}
  {% if member.linkedin %} ￼ {{ member.linkedin }} {% endif %}
  {% if member.researchgate %} ￼ {{ member.researchgate }} {% endif %}
  {% if member.scholar %}
    ￼ {% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations
  {% endif %}
  {% if member.twitter %} ￼ @{{ member.twitter }} {% endif %}
  {% if member.github %} ￼ {{ member.github }} {% endif %}
  {{ member.description | markdownify }}
{% endfor %}

Lab Pictures
<div class="lab-picture">
  <img src="/static/members/picture1.png" alt="Lab Picture" style="max-width: 100%; height: auto;" />
  <p class="caption">The Gentile Lab having fun playing laser tag!</p>
</div>

