{% include header.html %}
<div class="container px-2 max-width: 100%">
    <img class="img-fluid mx-auto d-block" src="/static/img/logo/home_fig.jpg" alt="Home image" width="800" height="257"><br>
    <div class="row">
        <div class="col-sm-8">
    	    <div class="jumbotron h-100">
        	    {{ content }}
                    <p float="left">
                    <img src="/static/img/logo/uOttawa_VER_COLOUR_2021.png" width="100" />
  		    <img src="/static/img/logo/nserc.svg" width="100" />
                    <img src="/static/img/logo/mitacs.jpg" width="100" /> 
                    <img src="/static/img/logo/biosolveit.jpg" width="100" />
                    </p>
            </div>
        </div>
        <div class="col">
            {% include contact_sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}
