---
title: Publications
layout: default
group: publications
---
<h1>Publications</h1>
<div class="container-fluid">

{% assign sorted = site.publications | sort: "pub_date" | reverse %}
{% for publication in sorted %}

<hr>
<div class="row" style="padding-top: 60px, margin-top: -60px," id="{{publication.pmid}}">
	<div>
		<h5>{{ publication.title | markdownify  | remove: '<p>' | remove: '</p>'}}</h5>
		<h6>{{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}</h6>
		{% if publication.journal %}
			<i>{{ publication.journal }},</i>
			{{publication.pub_date | split: "-" | first }}
		{% else %}
                       
		<i>Preprint,</i>
				{{publication.pub_date | split: "-" | first }}
		{% endif %}
	</div>
</div>
<br>

<div class="row" style="padding-top: 20px, margin-top: -20px">
	<div class="col-sm-6">
		<img class = "img-fluid" src = "{{publication.image}}" alt =  "Key Figure" width="50%" style="display: block, margin: auto,">
	</div>
	<ul class="col-sm-6">
		<br>
		<h6>Access the paper</h6>
                <!--Link-->
                {% if publication.link %}
                <li><a href="{{publication.link}}" title = "Link: {{publication.link}} (opens in new tab)" target="_blank"> Link</a></li>
                {% endif %}

		<!--PMID-->
		{% if publication.pmid %}
		<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" title = "PubMed: {{publication.pmid}} (opens in new tab)" target="_blank"> {{publication.pmid}}</a></li>
		{% endif %}

		<!--PMCID - optional -->
		{% if publication.pmcid %}
		<li>PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{publication.pmcid}}" title = "PubMed Central: {{publication.pmcid}} (opens in new tab)" target="_blank"> {{publication.pmcid}}</a></li>
		{% endif %}

		<!--Biorxiv - optional -->
		{% if publication.biorxiv %}
		<li>BioRxiv Preprint: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" title =  "BioRxiv Preprint: {{publication.biorxiv}} (opens in new tab)" target="_blank"> {{publication.biorxiv | split: "." | last }}</a></li>
		{% endif %}

		<!--Biorxiv specific version-->
		{% if publication.biorxiv_version %}
		<li>BioRxiv Preprint v{{publication.biorxiv_version | split: "." | last | split: "v" | last }}: <a href="http://www.biorxiv.org/content/10.1101/{{publication.biorxiv_version}}" title =  "BioRxiv Preprint: {{publication.biorxiv_version}} (opens in new tab)" target="_blank">{{publication.biorxiv_version | split: "." | last | split: "v" | first }}</a></li>
		{% endif %}

		<!--Arxiv - optional -->
		{% if publication.arxiv %}
		<li>arXiv Preprint: <a href="https://arxiv.org/abs/{{publication.arxiv}}" title = "aRxiv Preprint: {{publication.arxiv}} (opens in new tab)" target="_blank"> {{publication.arxiv}}</a></li>
		{% endif %}

		<!--Chemrxiv - optional -->
		{% if publication.chemrxiv %}
		<li>ChemRxiv Preprint: <a href="https://doi.org/10.26434/chemrxiv.{{publication.chemrxiv}}" title = "ChemRxiv Preprint: {{publication.chemrxiv}} (opens in new tab)" target="_blank"> {{publication.chemrxiv}}</a></li>
		{% endif %}
                
                <!--Medrxiv - optional -->
                {% if publication.medrxiv %}
                <li>MedRxiv Preprint: <a href="https://doi.org/10.1101/medrxiv.{{publication.medrxiv}}" title = "MedRxiv Preprint: {{publication.medrxiv}} (opens in new tab)" target="_blank"> {{publication.medrxiv}}</a></li>
                {% endif %}
                
                <!--Medrxiv specific version-->
                {% if publication.medrxiv_version %}
                <li>MedRxiv Preprint v{{publication.medrxiv_version | split: "." | last | split: "v" | last }}: <a href="http://www.medrxiv.org/content/10.1101/{{publication.medrxiv_version}}" title =  "MedRxiv Preprint: {{publication.medrxiv_version}} (opens in new tab)" target="_blank">{{publication.medrxiv_version | split: "." | last | split: "v" | first }}</a></li>
                {% endif %}                

		<!-- PDF -->
		{% if publication.pdf %}
		<li><a href="{{publication.pdf}}" title = "PDF for {{publication.title}} (opens in new tab)" target="_blank"> Full Text</a></li>
		{% endif %}

		<!--OSF - optional -->
		{% if publication.osf %}
		<li>OSF Preprint: <a href="https://osf.io/{{publication.osf}}" title = "OSF Preprint: {{publication.osf}} (opens in new tab)" target="_blank"> {{publication.osf}}</a></li>
		{% endif %}

		<!-- SBGrid Datasets - optional -->
		{% if publication.data %}
		<li>Online Dataset{% if publication.data.size > 1 %}s{% endif %}:
			{% if publication.data.size > 1 %}
			<ul>
				{% for dataset in publication.data %}
				<li><a href="http://dx.doi.org/{{dataset}}" title =  "SBGrid Data Repository (opens in new tab)" target="_blank">doi: {{dataset}}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<a href="http://dx.doi.org/{{publication.data}}" title =  "SBGrid Data Repository (opens in new tab)" target="_blank">doi: {{publication.data}}</a>
			{% endif %}
		</li>
		{% endif %}

		<!--PDBs - optional-->
		{% if publication.pdbs %}
		<li>Deposited Structure{% if publication.pdbs.size > 1 %}s{% endif %}:
			{% for code in publication.pdbs %}
			<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{code}}" title =  "PDB: {{code}} (opens in new tab)" target="_blank">{{code}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--EMDBs - optional-->
		{% if publication.emdbs %}
		<li>Deposited Map{% if publication.emdbs.size > 1 %}s{% endif %}:
			{% for code in publication.emdbs %}
			<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{code}}" title =  "EMDB: {{code}} (opens in new tab)" target="_blank">{{code}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--pairs of maps and models - optional-->
		{% if publication.paired_maps_and_models %}
		<li>Deposited Structure{% if publication.paired_maps_and_models.size > 1 %}s{% endif %} and Map{% if publication.paired_maps_and_models.size > 1 %}s{% endif %}:
			{% for pair in publication.paired_maps_and_models %}
			<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}" title =  "PDB and Map pair: {{pair.pdb}} (opens in new tab)" target="_blank">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}">{{pair.emdb}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--maps and models and datasets - optional-->
		{% if publication.paired_maps_and_models_and_data %}
		<li>Deposited Structure{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}, Map{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}, and Data set{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}:
			{% for pair in publication.paired_maps_and_models_and_data %}
			<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}" title =  "PDB and Map pair: {{pair.pdb}} (opens in new tab)" target="_blank">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}">{{pair.emdb}}</a>/<a href="https://empiar.org/{{pair.empiar}}/">{{pair.empiar}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--zenodo records - optional-->
		{% if publication.zenodo %}
		<li>Zenodo Record{% if publication.zenodo.size > 1 %}s{% endif %}:
			{% for record in publication.zenodo %}
			<a href="https://www.zenodo.org/record/{{record.code}}/" title =  "Zenodo: {{record.code}} (opens in new tab)" target="_blank">{{record.code}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--Github - optional-->
		{% if publication.github %}
		<li>{% if publication.github.size > 1 %}GitHub Repositories:{%else%}GitHub Repository:{% endif %}
			{% for record in publication.github %}
				<a href="https://www.github.com/{{record.url}}/" alt="GitHub Repository: {{record.url}} (opens in new tab)" target="_blank">{{record.url}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!-- addgene plasmid - optional -->
		{% if publication.addgene %}
		<li>Addgene Plasmid{% if publication.addgene.size > 1 %}s{% endif %}:
			{% for record in publication.addgene %}
				<a href="https://www.addgene.org/{{record.plasmid}}/" alt="Addgene Plasmid: {{record.plasmid}} (opens in new tab)" target="_blank">{{record.plasmid}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--additional links - optional-->
		{% if publication.links %}
			<br>
			<h6>Additional Link{% if publication.links.size > 1 %}s{% endif %}</h6>
			{% for link in publication.links %}
				<li><a href="{{link.url}}" alt="{{link.name}} (opens in new tab)" target="_blank">{{link.name}}</a></li>
			{% endfor %}
		{% endif %}
	</ul>
</div>
<br>
{% endfor %}
</div>

<div>
<h3>Before uOttawa</h3>

26. Vashchenko, I., Veselovska, M., Dolgonosa, G.A., Lukin, O., Poyarkov, A., Kiyenko, T., Gleave, M.E., Fetyukhin, V., Shivanyuk, A., <strong>Gentile, F.</strong>, Cherkasov, A. On regioselective monoacylation of abamectin and ivermectin aglycones. <em>Tetrahedron</em> 2023, 133713.<br>
25. Lee, J., Kenward, C., Worrall, L., Vuckovic, M., <strong>Gentile, F.</strong>, Ton, A.T., Ng, M., Cherkasov, A., Paetzel, M., Strynadka, N. X-ray crystallographic characterization of the SARS-CoV-2 main protease polyprotein cleavage sites essential for viral processing and maturation. <em>Nat. Commun.</em> 2022, 13, 5196.<br>
24. Weilbeer, C., Jay, D., Donnelly, J. C., <strong>Gentile, F.</strong>, Karimi-Busheri, F., Yang, X., Mani, R. S., Yu, Y., Elmenoufy, A. H., Barakat, K. H., Tuszynski, J. A., Weinfeld, M., West, F. G. Modulation of ERCC1-XPF Heterodimerization Inhibition via Structural Modification of Small Molecule Inhibitor Side-Chains. <em>Front. Oncol.</em> 2022, 12, 493.<br>
23. Pandey, M., Fernandez, M., <strong>Gentile, F.</strong>, Isayev, O., Tropsha, A., Stern, A. C., Cherkasov, A. The transformational role of GPU computing and deep learning in drug discovery. <em>Nat. Mach. Intell.</em> 2022, 4, 211–221.<br>
22. <strong>Gentile, F.</strong>, Yaacoub, J. C., Gleave, J., Fernandez, M., Ton, A.-T. T., Ban, F., Stern, A., Cherkasov, A. Artificial intelligence–enabled virtual screening of ultra-large chemical libraries with deep docking. <em>Nat. Protoc.</em> 2022, 17, 672–697.<br>
21. Yaacoub, J. C., Gleave, J., <strong>Gentile, F.</strong>, Stern, A., Cherkasov, A. DD-GUI: a graphical user interface for deep learning-accelerated virtual screening of large chemical libraries (Deep Docking). <em>Bioinformatics</em> 2022, 38, 1146–1148.<br>
20. <strong>Gentile, F.</strong>, Fernandez, M., Ban, F., Ton, A.-T., Mslati, H., Perez, C. F., Leblanc, E., Yaacoub, J. C., Gleave, J., Stern, A., Wong, B., Jean, F. F., Strynadka, N. C. J., Cherkasov, A. Automated Discovery of Noncovalent Inhibitors of SARS-CoV-2 Main Protease by Consensus Deep Docking of 40 Billion Small Molecules. <em>Chem. Sci.</em> 2021, 12, 15960–15974.<br>
19. Mslati, H., <strong>Gentile, F.</strong>, Perez, C., Cherkasov, A. Comprehensive Consensus Analysis of SARS-CoV-2 Drug Repurposing Campaigns. <em>J. Chem. Inf. Model.</em> 2021, 61, 3771–3788.<br>
18. Ciniero, G., Elmenoufy, A. H., <strong>Gentile, F.</strong>, Weinfeld, M., Deriu, M. A., West, F. G., Tuszynski, J. A., Dumontet, C., Cros-Perrial, E., Jordheim, L. P. Enhancing the activity of platinum-based drugs by improved inhibitors of ERCC1–XPF-mediated DNA repair. <em>Cancer Chemother. Pharmacol.</em> 2021, 87, 259–267.<br>
17. Lee, J., Worrall, L. J., Vuckovic, M., Rosell, F. I., <strong>Gentile, F.</strong>, Ton, A.-T., Caveney, N. A., Ban, F., Cherkasov, A., Paetzel, M., Strynadka, N. C. J. Crystallographic structure of wild-type SARS-CoV-2 main protease acyl-enzyme intermediate with physiological C-terminal autoprocessing site.<em>Nat. Commun.</em> 2020, 11, 5877.<br>
16. Elmenoufy, A. H., <strong>Gentile, F.</strong>, Jay, D., Karimi-Busheri, F., Yang, X., Soueidan, O. M., Mani, R. S., Ciniero, G., Tuszynski, J. A., Weinfeld, M., West, F. G. Design, synthesis and in vitro cell-free/cell-based biological evaluations of novel ERCC1-XPF inhibitors targeting DNA repair pathway. <em>Eur. J. Med. Chem.</em> 2020, 204.<br>
15. <strong>Gentile, F.</strong>, Agrawal, V., Hsing, M., Ton, A. T., Ban, F., Norinder, U., Gleave, M. E., Cherkasov, A. Deep Docking: A Deep Learning Platform for Augmentation of Structure Based Drug Discovery. <em>ACS Cent. Sci.</em> 2020, 6, 939–949.<br>
14. Ton, A.-T., <strong>Gentile, F.</strong>, Hsing, M., Ban, F., Cherkasov, A. Rapid Identification of Potential Inhibitors of SARS- CoV-2 Main Protease by Deep Docking of 1.3 Billion Compounds. <em>Mol. Inform.</em> 2020, 39, 1–18.<br>
13. Agrawal, V., <strong>Gentile, F.</strong>, Hsing, M., Ban, F., Cherkasov, A. Progressive Docking – Deep Learning Based Approach for Accelerated Virtual Screening. <em>Lect. Notes Comput. Sci.</em> 2019, 11731 LNCS, pp 737–740.<br>
12. <strong>Gentile, F.</strong>, Elmenoufy, A. H., Ciniero, G., Jay, D., Karimi-Busheri, F., Barakat, K. H., Weinfeld, M., West, F. G., Tuszynski, J. A. Computer-aided drug design of small molecule inhibitors of the ERCC1-XPF protein–protein interaction. <em>Chem. Biol. Drug Des.</em> 2020, 95, 460–471.<br>
11. Preto, J., <strong>Gentile, F.</strong> Assessing and improving the performance of consensus docking strategies using the DockBox package. <em>J. Comput. Aided. Mol. Des.</em> 2019, 33, 817–829.<br>
10. Elmenoufy, A. H., <strong>Gentile, F.</strong>, Jay, D., Karimi-Busheri, F., Yang, X., Soueidan, O. M., Weilbeer, C., Mani, R. S., Barakat, K. H., Tuszynski, J. A., Weinfeld, M., West, F. G. Targeting DNA Repair in Tumor Cells via Inhibition of ERCC1-XPF. <em>J. Med. Chem.</em> 2019, 62, 7684–7696.<br>
9. <strong>Gentile, F.</strong>, Barakat, K., Tuszynski, J. Computational Characterization of Small Molecules Binding to the Human XPF Active Site and Virtual Screening to Identify Potential New DNA Repair Inhibitors Targeting the ERCC1-XPF Endonuclease. <em>Int. J. Mol. Sci.</em> 2018, 19, 1328.<br>
8. <strong>Gentile, F.</strong>, Deriu, M. A., Barakat, K. H., Danani, A., Tuszynski, J. A. A novel interaction between the TLR7 and a colchicine derivative revealed through a computational and experimental study. <em>Pharmaceuticals</em> 2018, 11, 22.<br>
7. Preto, J., <strong>Gentile, F.</strong>, Winter, P., Churchill, C., Omar, S. I., Tuszynski, J. A. Molecular dynamics and related computational methods with applications to drug discovery. In <em>Coupled Mathematical Models for Physical and Biological Nanoscale Systems and Their Applications</em>, Bonilla, L. L., Kaxiras, E., Melnik, R., Eds., Springer, Cham, 2018, Vol. 232, pp. 267–285 ISBN 9783319765983.<br>
6. Sheff, J. G., Farshidfar, F., Bathe, O. F., Kopciuk, K., <strong>Gentile, F.</strong>, Tuszynski, J., Barakat, K., Schriemer, D. C. Novel Allosteric Pathway of Eg5 Regulation Identified through Multivariate Statistical Analysis of Hydrogen-Exchange Mass Spectrometry (HX-MS) Ligand Screening Data. <em>Mol. Cell. Proteomics</em> 2017, 16, 428–437.<br>
5. <strong>Gentile, F.</strong>, Tuszynski, J. A., Barakat, K. H. Commentary: New design of nucleotide excision repair (NER) inhibitors for combination cancer therapy. <em>J Cancer Treat Diagnosis</em> 2017, 1, 1–3.<br>
4. <strong>Gentile, F.</strong>, Tuszynski, J. A., Barakat, K. H. New design of nucleotide excision repair (NER) inhibitors for combination cancer therapy. <em>J. Mol. Graph. Model.</em> 2016, 65, 71–82.<br>
3. <strong>Gentile, F.</strong>, A. Tuszynski, J., H. Barakat, K. Modelling DNA Repair Pathways: Recent Advances and Future Directions. <em>Curr. Pharm. Des.</em> 2016, 22, 3527–3546.<br>
2. <strong>Gentile, F.</strong>, Deriu, M. A., Licandro, G., Prunotto, A., Danani, A., Tuszynski, J. A. Structure based modeling of small molecules binding to the TLR7 by atomistic level simulations. <em>Molecules</em> 2015, 20, 8316–8340.<br>
1. Tuszynski, J. A., Winter, P., White, D., Tseng, C. Y., Sahu, K. K., <strong>Gentile, F.</strong>, Spasevska, I., Omar, S. I., Nayebi, N., Churchill, C. D., Klobukowski, M., El-Magd, R. M. A. Mathematical and computational modeling in biology at multiple scales. <em>Theor. Biol. Med. Model.</em> 2014, 11, 52.<br>

</div>
